@import "../bootstrap/bootstrap.less";
@import "../fontawesome/font-awesome.less";

@btn-font-weight: 300;
@font-family-sans-serif: "Roboto", Helvetica, Arial, sans-serif;

body, label, .checkbox label {
	font-weight: 300;
}
